<html>
<head>
    <title>${title}</title>
</head>
<body>
  <h1>${title}</h1>



  <ul>
    <#list systems as system>
      <li>index ${system_index   } id ${system.templateId} type ${system.type}  file-type ${system.file} file</li>
    </#list>
  </ul>

</body>
</html>